<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>RegistroFuncionarios</title>
			<link rel="stylesheet" type="text/css" href="css/buscaGeral.css">

		</head>
	<body>
	<form autocomplete="off" action='/red' method='get'>
		<h1><input type="submit" class="HOME" value="Início" name="HOME"></input></h1>
	</form>
		<h2>Registros de Funcionários</h2>

		<table>
			
			<tr>
				<th>ID</th>
				<th>Funcionario</th>
				<th>Cargo</th>
				<th>CPF</th>
				<th>RG</th>
                <th>Data de nascimento</th>
                <th>N°carteira de trabalho</th>
                <th>Data de admissao</th>
                <th>Hora de trabalho</th>
				<th>Salario</th>
				<th>Dados Bancários</th>
				<th>Telefone(1)</th>
				<th>Telefone(2)</th>
				<th>Endereço</th>
				
			</tr>
			<% if(funcionario){ %>
			<% for(var i = 0; i < funcionario.length; i++){ %>
				<tr>

					<td>
						<form action = '/editF' method = 'post'>
							<input class = 'id' id='<%=funcionario[i].id_funcinario%>' type='submit' name='id' value='<%= funcionario[i].id_funcinario %>'>
						</form>
					</td>
					<td><%= funcionario[i].nome %></td>
					<td><%= funcionario[i].cargo%></td>
					<td><%= funcionario[i].cpf%></td>
					<td><%= funcionario[i].rg%></td>
                    <td><%= funcionario[i].datanascimento%></td>
                    <td><%= funcionario[i].ncarttrab%></td>
                    <td><%= funcionario[i].dataadmissao%></td>
                    <td><%= funcionario[i].horttrab%></td>
					<td><%= funcionario[i].salario%></td>
					<td><%= funcionario[i].dadosBancarios%></td>
					<td><%= funcionario[i].telefone%></td>
					<td><%= funcionario[i].telefone2%></td>
					<td><%= funcionario[i].endereco%></td>

				</tr>
			<% } } %>

		</table>

	</body>
</html>