<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Contas a Pagar</title>
			<link rel="stylesheet" type="text/css" href="css/buscaAgendamento.css">

		</head>
	<body>
	<form autocomplete="off" action='/red' method='get'>
		<h1><input type="submit" class="HOME" value="Início" name="HOME"></input></h1>
	</form>
		<h2>Contas a Pagar</h2>

		<table>
			
			<tr>
				<th>ID</th>
				<th>Data de Vencimento</th>
				<th>Valor</th>
				<th>Descrição</th>
				
				
				
			</tr>
			<% if(conta){ %>
			<% for(var i = 0; i < conta.length; i++){ %>
				<tr>
						<td>
								<form action = '/editC' method = 'post'>
									<input class = 'id' id='<%=conta[i].ID%>' type='submit' name='ID' value='<%= conta[i].ID %>'>
								</form>
							</td>
					<td><%= conta[i].dataConta.getDate()%>/<%= conta[i].dataConta.getMonth()+1%>/<%= conta[i].dataConta.getFullYear()%></td>
					<td><%= conta[i].valorConta%></td>
					<td><%= conta[i].descConta%></td>
					

				</tr>
			<% } } %>

		</table>

	</body>
</html>